.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
    width: 32%;
    margin-top: 6rem;
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 48%;
    }
}
@media only screen and (max-width: 600px) {
    .card {
        width: 96%;
    }
}

.card:hover {
    transform: translateY(-5px);
}

.card__image--holder {
    width: 100%;
    height: 35rem;
}

@media only screen and (max-width: 1200px) {
    .card__image--holder {
        height: 30rem;
    }
}



@media only screen and (max-width: 600px) {
    .card__image--holder {
        height: 40rem;
    }
}
@media only screen and (max-width: 400px) {
    .card__image--holder {
        height: 30rem;
    }
}
.card__image  {
    width: 100%;
    height: 100%;
    object-fit: fill; /* force image to stretch and fill */
}

.card__content {
    padding: 1rem 6rem;
    padding-bottom: 4rem;
}

.card__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem;
    color: #0d0d0d;
    text-decoration: none;
}

.card__text {
    font-size: 1.6rem;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}
