.footer {
    background-color: var(--color-white);
    color: #333;
    margin-top: 15rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-section {
    width: 50%;
    flex: 1;
}

.footer-section h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.6rem;
}

.footer-section ul li a,
.footer-section a,.ancher {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.3rem;
}

.footer-section p {
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #eee;
    padding-top: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 10rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}

.footer-logo img {
    width: 10rem;
    height: auto;
}

.footer-nav a {
    margin: 0 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.4rem;
}


.footer-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f0f0;
    color: #333;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-icon:hover {
    transform: translateY(.3rem) scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer-icon:nth-child(1):hover {
    background: #3b5998;
    color: white;
}

.footer-icon:nth-child(2):hover {
    background: #e1306c;
    color: white;
}

.footer-icon:nth-child(3):hover {
    background: #ff0000;
    color: white;
}

.footer-icon:nth-child(4):hover {
    background: #000000;
    color: white;
}

