.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    height: 8rem;
}

.navbar__logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar__logo {
    /*background-color: black;*/
    height: 6rem;
    width: 9rem;
}

.navbar__brand {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.navbar__brand--highlight {
    color: var(--color-primary);
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 4rem;
    font-weight: 500;
    gap: 4rem;
}

@media only screen and (max-width: 1200px) {
    .navbar__menu {
        gap: 2.5rem;
    }
}


@media only screen and (max-width: 900px) {
    .hideOnSmall {
        display: none;
    }
}

.navbar__link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
    font-size: 1.6rem;
    cursor: pointer;
}

.navbar__link:hover {
    color: var(--color-primary);
}

.navbar__link--active {
    color: var(--color-secondary);
}

.navbar__auth {
    display: flex;
    gap: 1rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* stays on top */
    background-color: var(--color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sm_menu-button {
    background: none;
    font-size: 24px;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 50%;
}

.sm_navbar__menu {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 999;
    padding-bottom: 20px;
    text-align: center;
    transform: translateY(-100rem);
    transition: all .5s;
}

.sm_navbar__menu-active {
    transform: translate(0);
}

.sm_navbar__item {
    display: block;
    padding: 1.5rem 0;
    font-size: 1.8rem;
}

.sm_navbar__item:hover {
    background-color: #f5f5f5;
}
