.pad {
    padding: 0 10rem;
}

@media only screen and (max-width: 900px) {
    .pad {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 1200px) {
    .pad {
        padding: 0 6rem;
    }
}


.u-margin-top-sm {
    margin-top: 2rem;
}
